body {
    position: relative;
    width: 1200px;
    height: 2336px;
    background: #FFFFFF;
    margin: 0;
}

.hero {
    width: 1200px;
    height: 822px;
    background: url("../assets/back1.png");
    background-size: 100% 100%;
}


.flex-container {
    display: flex;
    text-align: center;
    justify-content: center;
}
  
.flex-container > ul {
    margin: 40px;
    display: flex;
    list-style: none;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
  }
  
.flex-container ul li:first-child {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  
.flex-container ul li a {
    text-decoration: none;
    color: #FFFFFF;
  }

.flex-container ul li a:hover {
    text-decoration: underline;
    color: white;
}
  

.hero_block{
    width: 426px;
    height: 292px;
    margin-top: 100px; 
    margin-left: auto;
    margin-right: auto;
}

h1{
    width: 386px;
    height: 118px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    margin: 20px auto;
    color: #FFFFFF;
}


.logo1{
    display: block;
    width: 63px;
    height: 63px;
    margin-left: auto;
    margin-right: auto;
    transform: 2s;
}

.logo1:hover {
    animation: zoomAndBack 4s ease-in-out;
  }
  
@keyframes zoomAndBack {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.4) rotateY(180deg);
    }
    100% {
      transform: scale(1);
    }
}

.hero_h2{
    width: 426px;
    height: 56px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 auto;
}

.main {
    padding: 66px 150px 98px;
    width: 1200px;
    background: #EEEEEE;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
  }

.main_h2 {
    margin:0 auto;
    width: 669px;
    height: 119px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #464547;
  }
  
.main_h3 {
    height: 57px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #666666;
  }

.main_article {
  margin: 0 auto;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  display: flex;
  flex-wrap: nowrap;
}

.column {
    flex: 0 0 50%;
    box-sizing: border-box; 
    padding-right: 25px;
}

.readButton{
    position: relative;
    width: 115px;
    height: 36px;
    margin:50px auto;
    background: #55C2D8;
    border-radius: 18px;
    border:none;
    text-align: center;
    color: #FFFFFF;
}

.readButton:hover {
    animation: rotateLeftSide 2s ease-in-out;
}

@keyframes rotateLeftSide {
    0% {
        transform: rotate(0);
    }
    50% {
        transform-origin: left center;
        transform: translateZ(0) rotate(10deg);
    }
    60%{
        transform: translateZ(0) rotate(10deg);
    }
    100%{
        transform: rotate(0);
    }
}
    
.learnMore{
    width: 1200px;
    height: 666px;
    padding-top: 80px;
    background: url("../assets/back2.png");
    margin: 0 auto;
    background-color:rgba(140, 79, 42, 0.3);
    background-blend-mode: color-dodge;
    box-sizing: border-box;
}

.learnMore_h2{
    width: 480px;
    height: 117px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
    margin:0 auto;
}

.learnMore_h3{
    width: 390px;
    height: 102px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin:0 auto;
    padding-top: 40px;
}

.videoButton{

    display: block;
    width: 145px;
    height: 143.47px;
    background: #39C2D7;
    border-radius:100px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    margin-top: 40px;
    border:none;
}
    
.videoButton span{
    color:#FFFFFF;
    border-radius: 50%;
    font-size: 50px;
}
.videoButton:hover{
    background:#FFFFFF;
    animation: buttonAnimation 2s
}
.videoButton:hover span{
    color: #39C2D7;
}

@keyframes buttonAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}


footer{
display: flex;
width: 1200px;
height: 170px;
background: #464547;
justify-content: space-evenly;
}

.logo2{
    width:20px;
    height:20px;
    padding-right: 10px;
    padding-top:15px
}

.footer-logo{
    display: flex;
    flex-direction: row;
}

.footerProject{
    display: flex;
    width: 92px;
    height: 16px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footerContents{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 40px auto;
}

.footnote {
    align-self: flex-end; 
  }

.address{
    width: 174px;
    height: 33px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.4);
}

.address a{
    width: 142px;
    height: 22px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
}

.footnote{
    width: 243px;
    height: 20px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
}   



/* Media */

@media (max-width: 768px) {
    body {
        width: 100%;
        height: auto;
    }

    .hero {
        width: 100%;
        background: url("../assets/back1.png");
        align-items: flex-start;
        background-size: 100% 100%;
    }

    .flex-container ul {
        display: flex;
        justify-content: flex-start;
      }
      
      .flex-container ul li:not(:first-child) {
        display: none;
      }
      
      .menu-icon {
        display: block;
        text-align: right;
        margin-top: 25px;
        margin-right: 25px;;
        cursor: pointer;
        font-size: 40px;
        color: #ffffff;
      }
    

    h1{
      width: 100%;
      height: 100%;
      padding-top: 10px;
      height: 70%;

    }

    .hero_h2{
        width: 100%;
    }
    .hero_block {
        width: 100%;
    }

    .main {
        width: 100%;
        height: 100%;
        align-items: flex-start;
        padding: 65px 8px 116px 27px;
    }

    .main_h2 {
        width: 100%;
        height: 45%;
    }

    .main_h3 {
        width: 100%;
        height: 10%;
        margin-bottom: 24px;
    }

    .main_article {
        width: 100%;
        flex-direction: column;
    }

    .readButton {
        display: flex;
        justify-content: center;
        align-items: center; 
        margin:0 auto;
        text-align: center;
        
    }

    .learnMore {
        width: 100%;
        padding: 72px;
        height: 100%;
        align-items: flex-start;
    }

    .learnMore_h2 {
        width: 100%;
        height: 10%;
        font-size: 36px;
        line-height: 48px;
        text-align: center;
    }

    .learnMore_h3 {
        width: 100%;
        height: 10%;
        font-size: 20px;
        line-height: 28px;
    }

    .videoButton {
        width: 100px;
        height: 100px;
    }

    .videoButton span {
        font-size: 40px;
    }

    footer {
        width: 100%;
        height: 100%;
        align-items: flex-start;
    }

    .footer-logo {
        display: flex;
    }

    .footerContents {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px auto;
    }
    .address{
        text-align: center;
        margin-bottom:30px;;
    }

    .footnote {
        align-self: initial;
        margin:0, auto;
      }

}